.container {
}

.base {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative;
}
.content {
  padding: 0 100px;
}
@media (max-width: 768px) {
  .content {
    padding: 0 30px;
  }
}

.btnContainer {
  text-align: center;
}

.text {
  background: #fbeee0;
  border-radius: 12px;
  color: #000;

  margin-bottom: 24px;
  padding: 24px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* CSS */
.buttonText {
  appearance: none;
  background-color: #ffffff;
  border-radius: 40em;
  border-style: none;
  box-shadow: #adcfff 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonText:hover {
  background-color: #ffc229;
  box-shadow: #ff6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.buttonText:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .buttonText {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
}
.changBG {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 24px;
}

.buttonRandomAnimation {
  width: 60px;
  height: 30px;
  border-radius: 4px;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.buttonChangeBG {
  width: 60px;
  height: 30px;
  border-radius: 4px;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.buttonIDontKnow {
  width: 60px;
  height: 30px;
  border-radius: 4px;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

.animations {
  text-align: center;
}

.gif {
  width: 100%;
  height: 100%;
  max-width: 70%;
  border-radius: 12px;
}

.hokBitNua {
  background: #fbeee0;
  border-radius: 12px;
  color: #000;

  margin-bottom: 24px;
  padding: 24px;
  text-align: center;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px,
    rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px,
    rgb(255, 85, 85) 0px 0px 0px 15px;
}

.play {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 32px;
  color: white;
  align-items: center;
}

.playItem13 {
  padding: 4px 10px;
  transition: all ease-in-out;
}

.playItem13:active {
  transform: scale(1.2);
  opacity: 0.6;
}

.playItem2 {
  padding: 4px 10px;
  transition: all ease-in-out;
}

.playItem2:active {
  opacity: 0.6;
}

.disable {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}

.glowOnHover {
  width: 300px;
  height: 70px;
  border: none;
  font-size: 24px;
  outline: none;
  /* background: #111; */
  color: rgb(41, 37, 37);
  font-weight: 900;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glowOnHover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glowOnHover:active {
  color: #000;
}

.glowOnHover:active:after {
  background: transparent;
}

.glowOnHover:hover:before {
  opacity: 1;
}

.glowOnHover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  left: 0;
  top: 0;
  border-radius: 10px;
  background-color: #ffc229;
  box-shadow: #ff6314 0 -6px 8px inset;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
